<div id="categorias">
    <a href="#" class="categoria">Categoria 1</a>
    <a href="#" class="categoria">Categoria 2</a>
    <a href="#" class="categoria">Categoria 3</a>
    <a href="#" class="categoria">Categoria 4</a>
    <a href="#" class="categoria">Categoria 5</a>
    <a href="#" class="categoria">Categoria 6</a>
</div>