<header>
    <input type="text" id="pesquisa" placeholder="🔍︎ Pesquisar...">
        <div class="usuario-info">
            <a href="#">
                <img src="imgs/foto-usuario.jpeg" alt="Avatar do Usuário" class="avatar">
            </a>
            <button>
                <span class="material-symbols-outlined">expand_more</span>
                <!--
                <div class="mais-informacoes">
                    <button class="usuario-conta">
                        <a href="#">
                            <img src="imgs/foto-usuario.jpeg" alt="Avatar do Usuário" class="avatar">
                        </a>
                        <span class="nome-usuario">Usuário</span>
                        <span class="email-usuario">E-mail do usuário</span>
                    </button>
                    <button class="sair">
                    <span class="material-symbols-outlined">logout</span>
                    <span>Sair</span>
                </button>
            </div> -->
        </button>
                
    </div>
</header>