<!-- filepath: c:\Users\livia\OneDrive\Documentos\canva-em-branco\ppo-canva-em-branco\views\partials\nav.ejs -->
<nav>
    
    <img src="imgs/logo.jpeg" alt="Logo" class="logo">
    <a href="#" class="item">
        <span class="material-symbols-outlined">home</span>
    </a>
    <a href="#" class="item">
        <span class="material-symbols-outlined">explore</span>
    </a>
    <a href="#" class="item">
        <span class="material-symbols-outlined">add_box</span>
    </a>
    <a href="#" class="item">
        <span class="material-symbols-outlined">developer_guide</span>
    </a>
    
            
    <a href="#" class="item">
        <span class="material-symbols-outlined">settings</span>
    </a>
            
</nav>

<!-- <form id="criar-postagem" action="/feed" method="post" enctype="multipart/form-data">
    <button id="btn-fechar-criar-post">X</button>
    <div>
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>
    </div>
    <div>
        <label for="conteudo">Conteúdo:</label>
        <textarea id="conteudo" name="conteudo"></textarea>
    </div>
    <div>
        <label for="imagem">Imagem:</label>
        <input type="file" id="imagem" name="imagem" accept="image/*">
    </div>
    <div>
        <label for="categoria">Categoria:</label>
        <select id="categoria" name="categoria" required>
            <option value="pintura">Pintura</option>
            <option value="poema">Poema</option>
            <option value="fotografia">Fotografia</option>
        </select>
    </div>
    <button type="submit">Criar Postagem</button>
</form> -->