<header>
    <form class="barra-pesquisar" action="/pesquisar" method="get">
        <input type="text" id="barra-pesquisar" name="pesquisa" placeholder="Pesquisar...">
        <button id="btn-pesquisar" type="submit">
            <i class="fi fi-br-search"></i>
        </button>
    </form>

    <div id="perfil">
        <a href="#">
            <img src="/imgs/foto-usuario.jpeg" alt="Perfil" class="avatar">
        </a>
        <button id="mostrar-dados-perfil">
            <i class="fi fi-br-caret-down"></i>
        </button>
        <div id="dados-perfil">
            <img src="/imgs/foto-usuario.jpeg" alt="Perfil" class="avatar">
            <div>
                <span>
                    <strong>usuario:</strong> <%= user && user.nomeUsuario ? user.nomeUsuario : '' %>
                    <br>
                    <strong>email:</strong> <%= user && user.email ? user.email : '' %>
                </span>
                <button id="btn-sair" onclick="window.location.href='/logout';">
                    Sair
                </button>
            </div>
        </div>
    </div>
</header>