<header>
    <form class="barra-pesquisar" action="/pesquisar" method="get">
        <input type="text" id="barra-pesquisar" name="pesquisa" placeholder="Pesquisar...">
        <button id="btn-pesquisar" type="submit">
            <span class="material-symbols-outlined">search</span>
        </button>
    </form>

    <div id="perfil">
        <a href="#">
            <img src="/imgs/foto-usuario.jpeg" alt="Perfil" class="avatar">
        </a>
        <button id="mostrar-dados-perfil">
            <span class="material-symbols-outlined">arrow_drop_down</span>
        </button>
        <div id="dados-perfil">
            <img src="/imgs/foto-usuario.jpeg" alt="Perfil" class="avatar">
            <div>
                <span>
                    <strong>usuario:</strong> yipii
                    <br>
                    <strong>email:</strong> yipii@email.com
                </span>
                <button id="btn-sair">
                    Sair
                </button>
            </div>
        </div>
    </div>
</header>