<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
    <!-- icones do site -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-chubby/css/uicons-regular-chubby.css'>
    <script defer src="/scripts/main.js"></script>
</head>
<body class="light">
    <!-- verifica se o usuário está autenticado -->
    <% if (usuarioAutenticado) { %>
        <%- include('../partials/nav-bar') %>
        <%- include('../partials/topo-pesquisa') %>
        <main>
            <%- body %>
        </main>
    <% } else { %>
        <div class="auth-links">
            <a href="/login" class="auth-link">Login</a>
            <a href="/cadastro" class="auth-link">Cadastro</a>
            <a href="/" class="auth-link">Home</a>
        </div>
    <% } %>
</body>
</html>