<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/index.css'>
    <script defer src='/scripts/main.js'></script>
</head>
<body class="light">
    <nav>
        <button class="nav-btn ativo" id="btn-sobre" data-section="sobre">sobre nós</button>
        <button class="nav-btn" id="btn-cadastro-login" data-section="cadastro-login">cadastro/login</button>
        <button class="nav-btn" id="btn-contato" data-section="contato">contato</button>
    </nav>

    <main>
        <div class="sobre ativo">
            <h1>Sobre o Canva em Branco</h1>
            <p>O Canva em Branco é uma plataforma que tem como objetivo reunir artistas para que possam compartilhar seus trabalhos e discutir sobre arte ou como criá-la, assim trazendo mais visibilidade as obras.</p>
            <p>Reconhecemos que a arte é uma expressão de sentimentos, ideias e contextos históricos, manifestando-se de forma verbal ou visual. Ela está profundamente ligada à cultura, influenciando-a e sendo influenciada por ela. Com esse propósito, a plataforma foi criada para permitir que qualquer pessoa compartilhe suas produções artísticas e culturais.</p>
        </div>

        <div class="cadastro-login">
            <h2>Cadastro/Login</h2>
            <p>Para poder compartilhar suas obras e/ou conhecer as obras de outros artistas, é necessário criar uma conta ou estar logado.</p>
            <a href="/cadastro" class="btn">Criar uma conta</a>
            <a href="/login" class="btn">Login</a>
        </div>

        <div class="contato">
            <h2>Contato</h2>
            <img src="/imgs/help-section-img.jpg" alt="Gatinho olhando para a tela de um computador, este computador está sendo mostrado com a visão de trás.">
            <p>Dúvidas ou sugestões? Entre em contato por e-mail: 
            <a href="mailto:emaildementirinha@gmail.com">envie um e-mail</a></p>
        </div>
    </main>
</body>
</html>
