<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../public/css/main.css'>
    <script defer async src='/public/js/main.js'></script>
</head>
<body>
    <nav>
        <button class="nav-btn" id="btn-sobre" data-section="sobre">sobre nós</button>
        <button class="nav-btn" id="btn-cadastro-login" data-section="cadastro-login">cadastro/login</button>
        <button class="nav-btn" id="contato" data-section="sobre">contato</button>
    </nav>
    <main>
        <div class="sobre-nos ativo">
            <h1>Sobre o Canva em Branco</h1>
            <p>O Canva em Branco é um website criado com o objetivo de trazer mais visibilidade a arte e seus artistas, podendo ser usado por quem consome arte e a cria.</p>
            <p>O site é uma plataforma onde artistas podem criar perfis, compartilhar suas obras e interagir com outros usuários. É um espaço para promover a arte e conectar pessoas apaixonadas por criatividade.</p>
            <button>Crie uma conta!</button>
        </div>
        <div class="cadastro-login">
            <h2>Cadastro/Login</h2>
            <p>Para acessar todas as funcionalidades do Canva em Branco, você precisa criar uma conta ou fazer login.</p>
            <button>Cadastrar</button>
            <button>Login</button>
        </div>
        <div class="contato">
            <h2>Contato</h2>
            <p>Se você tiver alguma dúvida ou sugestão, entre em contato conosco através do e-mail:
            <a href="mailto:canvaembranco@gmail.com">envie um e-mail</a>
        </div>
    </main>

    <div id="loading" class="loading-overlay" style="display: none;">
        <div class="spinner"></div>
        <p>Carregando...</p>
    </div>
</body>
</html>