nav {
    position: fixed;
    top: 11dvh;
    left: 0;
    width: 10dvh;
    height: calc(100% - 11dvh);
    padding: 3.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-secundaria);
    z-index: 3;
    border-right: 2px solid var(--cor-borda);
    box-shadow: 0 2px 4px rgba(13, 0, 84, 0.268);
}

nav a {
    height: 45px;
    width: 45px;
    display: grid;
    place-items: center;
    background-color: transparent;
    border-radius: 30%;
    transition: 0.1s ease-in;
    color: var(--cor-texto);
}

nav a:last-child {
    margin-top: 100px;
}

nav a:hover {
    background-color: var(--cor-base);
}

nav img.logo {
    width: 60px;
    height: 60px;
    border-radius: 40%;
}

nav a .material-symbols-outlined {
    text-align: center;
    font-size: 2.4rem;
}

/* ---------------------------
   Responsividade
--------------------------- */

@media (max-width: 768px) {
    nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 10dvh;
        width: 100%;
        top: auto;
        bottom: 0;
        left: 0;
        padding: 0 1rem;
        border-right: none;
        border-top: 2px solid var(--cor-borda);
    }

    nav a {
        margin: 0;
    }

    nav a:last-child {
        margin-top: 0;
    }

    nav img.logo {
        display: none;
    }
}
