/* ------------------------------------
    paletas de cores - modo claro
---------------------------------------*/

body,
body.light {
    --cor-base: #fcf9f1;
    --cor-base-secundaria: #fff6db;
    --cor-texto: #010007;
    --cor-acento: #697dff;
    --cor-acento-hover: #ada4ff;
    --cor-borda: #010007;
    --cor-aba-inativa: #517ae0;

    --cor-linha-fundo: rgba(0, 0, 0, 0.219);

    --azul: #b9daff;
    --verde: #50e3c2;
    --amarelo: #f5a623;
    --vermelho: #ff0000;

    --cor-alerta: #ee1f37;
    --cor-sucesso: #7ed321;

    --cor-link: #4a90e2;
    --cor-sombra: rgba(0, 0, 0, 0.1);
}

/* configurações padrões */

body.dark {
    --cor-base: #1b1c28; /* fundo principal */
    --cor-base-secundaria: #2a2a2f; /* blocos e cards */
    --cor-texto: #ccd2eb; /* texto principal */
    --cor-acento: #425ab3; /* cor de destaque */
    --cor-acento-hover: #202db1; /* destaque ao passar mouse */
    --cor-borda: #8f97b9; /* bordas visíveis no fundo escuro */

    --cor-linha-fundo: rgba(255, 255, 255, 0.15); /* linhas suaves */

    --azul: #7fbfff; /* azul mais vibrante no escuro */
    --verde: #4cd1b5; /* verde suave */
    --amarelo: #ffb84d; /* amarelo dourado */
    --vermelho: #ff4d4d; /* vermelho mais vivo */

    --cor-alerta: #a42828; /* alerta em fundo escuro */
    --cor-sucesso: #8ccd46; /* mantém o mesmo verde de sucesso */

    --cor-link: #66aaff; /* links mais claros */
    --cor-sombra: rgba(0, 0, 0, 0.5); /* sombra mais intensa */
}