/* ------------------------------------
    paletas de cores - modo claro
---------------------------------------*/

body,
body.light {
    --cor-base: #fcf9f1;
    --cor-base-secundaria: #fff6db;
    --cor-texto: #010007;
    --cor-acento: #697dff;
    --cor-acento-hover: #ada4ff;
    --cor-borda: #010007;
    --cor-aba-inativa: #517ae0;

    --cor-linha-fundo: rgba(0, 0, 0, 0.219);

    --azul: #b9daff;
    --verde: #50e3c2;
    --amarelo: #f5a623;
    --vermelho: #ff0000;

    --cor-alerta: #ee1f37;
    --cor-sucesso: #7ed321;

    --cor-link: #4a90e2;
    --cor-sombra: rgba(0, 0, 0, 0.1);
}
